
        table {
            width:100%
            
        }

        td{
            text-align: center;
            background-color: #b8c0e7;
            border-radius: 15px;
        }
        
        .card{
            text-align: center;
            background-color: #b8c0e7;
            border-radius: 15px;
            margin: 1rem 1rem 1rem 1rem;
            padding-bottom: 1rem;
        }

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: red;
            border-radius: 15px;
        }
        li{
            float: left;
        }
        li a{
            background-color: red;
            display: block;
            color: azure;
            text-align: center;
            padding: 14px 16px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 15px;
            padding-bottom: 15px;

            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;

            border-radius: 5px;
        }

        li a:hover {
            background-color: rgb(250, 51, 51);
        }

        @keyframes pokemon-up {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-.4rem);
        }

        }

        td:hover{
            background-color: #ccd1e6;
            animation: pokemon-up .3s;
            cursor: pointer;
        }

        .planta{
          background-color: rgb(119, 252, 57);
          border-radius: 15px;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;

        }
        .fuego{
            background-color: rgb(252, 151, 57);
            border-radius: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .agua{
            background-color: rgb(57, 93, 252);
            border-radius: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .roca{
            background-color: rgb(247, 230, 82);
            border-radius: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .veneno{
            background-color: rgb(242, 82, 247);
            border-radius: 15px;
            font-family: Arial, Helvetica, sans-serif;
          
        }
        .volador{
            background-color: rgb(124, 224, 255);
            border-radius: 15px;
            font-family: Arial, Helvetica, sans-serif;
          
        }
        .normal{
            background-color: rgb(158, 158, 158);
            border-radius: 15px;
            font-family: Arial, Helvetica, sans-serif;
  
        }
        .psiquico{
            background-color: rgb(219, 112, 219);
            border-radius: 15px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
  
        }

        .pokemon-type{
            width: 100%;
            text-align: center;
        }

        .pokemon-name{
            background-color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            border-radius: 15px;
            }
